In [32]:
import pandas as pd
df_train = pd.read_csv('../DataSet/raw data/train.csv')
df_test = pd.read_csv('../DataSet/raw data/test.csv')
df = pd.concat([df_train,df_test], axis = 0)

In [33]:
safe_df = df

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [35]:
df.drop(['PassengerId','Name'],axis =1, inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     295 non-null    object
 9   Embarked  1307 non-null   object
dtypes: float64(3), int64(3), object(4)
memory usage: 112.5+ KB

In [39]:
df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [40]:
df['Sex'] = df['Sex'].map({'female':0, 'male':1})

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Sex       1309 non-null   int64
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     295 non-null    object
 9   Embarked  1307 non-null   object
dtypes: float64(3), int64(4), object(3)
memory usage: 112.5+ KB

In [42]:
df['Deck'] = df['Cabin'].str[0].fillna('U')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    1309 non-null   int64
 2   Sex       1309 non-null   int64
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     295 non-null    object
 9   Embarked  1307 non-null   object
 10  Deck      1309 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 122.7+ KB

In [44]:
df['Deck_Numeric'] = df['Deck'].map({
    'B': 7, 'C': 6, 'D': 5, 'E': 4, 'A': 3, 'F': 2, 'G': 1, 'U': 0
})

In [45]:
df.drop('Deck',inplace=True,axis=1)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    float64
 1   Pclass        1309 non-null   int64
 2   Sex           1309 non-null   int64
 3   Age           1046 non-null   float64
 4   SibSp         1309 non-null   int64
 5   Parch         1309 non-null   int64
 6   Ticket        1309 non-null   object
 7   Fare          1308 non-null   float64
 8   Cabin         295 non-null    object
 9   Embarked      1307 non-null   object
 10  Deck_Numeric  1308 non-null   float64
dtypes: float64(4), int64(4), object(3)
memory usage: 122.7+ KB

In [47]:
df['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148', 'B45', 'B36', 'A21', 'D34', 'A9', 'C31', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C55 C57', 'C116', 'F', 'A29', 'C6', 'C28',
       'C51', 'C97', 'D22', 'B10', 'E45', 'E52', 'A11', 'B11', 'C80',
       'C89', 'F E46', 'B26', 'F E57', 'A18', 'E60', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D40', 'D38', 'C105'], dtype=object)

In [48]:
df['Has_Cabin'] = df['Cabin'].apply(lambda x: 0 if pd.isna(x) else 1)

In [49]:
df.drop(['Cabin'], inplace=True, axis=1)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    float64
 1   Pclass        1309 non-null   int64
 2   Sex           1309 non-null   int64
 3   Age           1046 non-null   float64
 4   SibSp         1309 non-null   int64
 5   Parch         1309 non-null   int64
 6   Ticket        1309 non-null   object
 7   Fare          1308 non-null   float64
 8   Embarked      1307 non-null   object
 9   Deck_Numeric  1308 non-null   float64
 10  Has_Cabin     1309 non-null   int64
dtypes: float64(4), int64(5), object(2)
memory usage: 122.7+ KB

In [51]:
df.drop('Ticket', inplace=True, axis=1)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    float64
 1   Pclass        1309 non-null   int64
 2   Sex           1309 non-null   int64
 3   Age           1046 non-null   float64
 4   SibSp         1309 non-null   int64
 5   Parch         1309 non-null   int64
 6   Fare          1308 non-null   float64
 7   Embarked      1307 non-null   object
 8   Deck_Numeric  1308 non-null   float64
 9   Has_Cabin     1309 non-null   int64
dtypes: float64(4), int64(5), object(1)
memory usage: 112.5+ KB

In [54]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [55]:
df['Embarked'] = df['Embarked'].map({'C':0,'Q':1,'S':2})

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    float64
 1   Pclass        1309 non-null   int64
 2   Sex           1309 non-null   int64
 3   Age           1046 non-null   float64
 4   SibSp         1309 non-null   int64
 5   Parch         1309 non-null   int64
 6   Fare          1308 non-null   float64
 7   Embarked      1307 non-null   float64
 8   Deck_Numeric  1308 non-null   float64
 9   Has_Cabin     1309 non-null   int64
dtypes: float64(5), int64(5)
memory usage: 112.5 KB

In [57]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
df['Deck_Numeric'] = df['Deck_Numeric'].fillna(0)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 417
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Survived      891 non-null    float64
 1   Pclass        1309 non-null   int64
 2   Sex           1309 non-null   int64
 3   Age           1309 non-null   float64
 4   SibSp         1309 non-null   int64
 5   Parch         1309 non-null   int64
 6   Fare          1308 non-null   float64
 7   Embarked      1309 non-null   float64
 8   Deck_Numeric  1309 non-null   float64
 9   Has_Cabin     1309 non-null   int64
dtypes: float64(5), int64(5)
memory usage: 112.5 KB

In [82]:
df.to_csv("../DataSet/cleaned_data/train_clean.csv", index=False)

In [59]:
train_df = df.iloc[:891].copy()
test_df = df.iloc[891:].copy()
test_df = test_df.drop(['Survived'], axis =1)

In [60]:
# Save the cleaned training data
train_df.to_csv('../DataSet/cleaned_data/train_clean.csv', index=False)

# Save the cleaned test data
test_df.to_csv('../DataSet/cleaned_data/test_clean.csv', index=False)